.combat-log {
  border: var(--gb-border-width) solid var(--gb-ui-border);
  background-color: var(--gb-ui-bg);
  padding: var(--gb-spacing);
  max-width: 400px;
  margin: var(--gb-spacing) auto;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: var(--gb-spacing) var(--gb-spacing) 0 rgba(0, 0, 0, 0.5);
}

.combat-log h3 {
  text-align: center;
  border-bottom: 2px solid var(--gb-medium);
  padding-bottom: var(--gb-spacing);
  margin-bottom: var(--gb-spacing);
  font-size: 0.9em;
}

.combat-log ul {
  list-style-type: none;
}

.combat-log li {
  font-size: 0.7em;
  padding: 4px;
  margin-bottom: 4px;
  border: 1px solid var(--gb-medium);
}