.monster-card {
  margin: var(--gb-spacing);
  border: var(--gb-border-width) solid var(--gb-ui-border);
  background-color: var(--gb-ui-bg);
  padding: var(--gb-spacing);
  box-shadow: var(--gb-spacing) var(--gb-spacing) 0 rgba(0, 0, 0, 0.5);
}

.monster-name {
  font-family: 'Press Start 2P', monospace;
  color: var(--gb-light);
  text-align: center;
  margin-bottom: var(--gb-spacing);
  text-transform: uppercase;
}

.monster-image {
  max-height: 200px;
  margin: 0 auto;
  image-rendering: pixelated;
  filter: grayscale(1) brightness(0.8) contrast(1.2); /* Effet Game Boy */
  border: var(--gb-border-width) solid var(--gb-medium);
}