.game-status {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--gb-ui-bg);
  border: var(--gb-border-width) solid var(--gb-ui-border);
  padding: calc(var(--gb-spacing) * 2);
  width: 80%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.game-status h2 {
  font-size: 1em;
  margin-bottom: var(--gb-spacing);
}

.game-status.victory h2 {
  color: var(--gb-light);
}

.game-status.defeat h2 {
  color: var(--gb-health);
}

.game-status button {
  margin-top: calc(var(--gb-spacing) * 2);
  width: 100%;
  padding: var(--gb-spacing);
}