.progress-container {
  margin: var(--gb-spacing) 0;
}

.progress {
  height: 12px;
  background-color: var(--gb-darkest);
  border: var(--gb-border-width) solid var(--gb-ui-border);
  padding: 0;
}

.progress-bar {
  height: 100%;
  background-color: var(--gb-medium);
  transition: width 0.3s;
}

.progress-bar.health {
  background-color: var(--gb-health);
}

.progress-bar.mana {
  background-color: var(--gb-mana);
}

.progress-text {
  text-align: center;
  margin-top: 4px;
  font-size: 0.6em;
}

.icon-text {
  color: var(--gb-light);
  letter-spacing: -0.5px;
}